body {
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
}

/* #mapid {
    height: 100%;
    width: 75%;
    border: 1px solid #808080;
}*/

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 5px;
}

.grid-item { 
    border: 1px solid black;
}


